@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

#root {
  min-height: 320px;
}

.page {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-image: url(../../images/Glass\ Effect\ Login\ Page\ -\ Blue.png);
  color: 000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}